<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
</head>

<body>
    <!--Navbar-->
    <%- include('./partials/nav.ejs')%>
        <!--Navbar end-->

        <div class="container">
            <h2>
                <%= blog.title%>
            </h2>
            <div class="content">
                <p class="lh-base">
                    <%= blog.snippet%>
                </p>
            </div>
            <br /><br />
            <a href="" class="btn btn-outline-danger" data-doc="<%= blog._id%>">delete</a>
        </div>

        <br /><br />
        <!--footer-->
        <%- include('./partials/footer.ejs')%>
            <!--footer end-->

            <script>
                const trash = document.querySelector('a.btn btn-outline-danger');
                trash.addEventListener('click', (e) => {
                    const endpoint = `/blogs/${trash.dataset.doc}`;

                    fetch(endpoint, {
                        method: 'DELETE'
                    })
                        .then((response) => { response.json() })
                        .then((data) => console.log(data))
                        .catch((err) => { console.log(err) })
                })
            </script>
</body>

</html>